.my-div-title-about {
  text-align: center;
  font-size: 2rem;
  font-family: "Raleway", sans-serif;
  letter-spacing: 0.1rem;
  font-weight: bold;
}

.my-description-about {
  text-align: center;
  font-family: "Raleway", sans-serif;
  text-align: left;
  align-items: center;
  /* border-top-style: groove; */
}

.my-img-about {
  text-align: center;
  max-width: 100%;
  border-radius: 4px;
}

.my-flex-wrap {
  flex-wrap: wrap;
}

.icon-and-name-skills {
  display: grid;
  margin: 1rem;
  text-align: center;
  color: /*  #d8aa9a; */ rgb(37, 37, 37);
}

.my-skills-title {
  font-family: "Playfair Display", serif;
  font-size: 1.5rem;
  letter-spacing: 0;
}

.my-tools {
  display: block;
  align-items: baseline;
  background-color: white;
  padding: 1.5rem;
  text-align: center;
  letter-spacing: 0.1rem;
  font-family: "Raleway", sans-serif;
  margin: auto !important;
}

.my-skills {
  list-style: none;
}

.my-table {
  margin: 1rem;
  margin-bottom: 0;
}

.my-icon-tool {
  font-size: 3rem;
  color: #9db7a6;
}

.firebase-div {
  text-align: center;
}
.firebase-icon {
  display: block;
  max-width: 2.5rem;
  margin: auto;
}
.my-img-soft {
  width: 6rem;
}

.my-hello-box {
  margin-top: 1rem;
}
