
.pre-title-contact {
  color: rgb(222, 161, 141);
}
.my-div-title-contact {
  color: beige;
  text-align: center;
  font-size: 2rem;
  font-family: "Raleway", sans-serif;
  letter-spacing: 0.3rem;
  font-weight: bold;
}

.my-description-contact {
  letter-spacing: 0.1rem;
}

 .cv-button{
 color: rgb(222, 161, 141);
}

.cv-button a {
  border-color: #ff8c9b;
} 

.icon-redes-contact {
  padding: 1.5rem;
  cursor: pointer;
  color: #8d8d8a;
}

.icon-redes-contact:hover {
  color: /* #e5c7bd; */ #ff8c9b;
}
/*   
      .d{
        display: block;
        width: 100%;
        box-sizing: border-box;
        outline: none;
        border: 0;
        padding: 10px 15px;
        background:rgb(247, 247, 239);
        font-family: 'Raleway', sans-serif;
        letter-spacing: .1rem;
        font-size: 1rem;
        margin-bottom: 3px;
         color: #fff; 
        
      }

      .my-submit{
        font-family: 'Raleway', sans-serif;
        float: right;
        margin: .3vw 0 0 0;
        font-size: 1rem;
        padding: 10px 30px;
        color: beige;
        background: transparent;
        outline: 0;
        width: auto;
      } */
