.my-cover-row {
  height: 90vh;
  width: 100vw;
  background-color: white;
  margin-top: 2.4rem;
}

.my-img-cover {
  background-image: url("../img/coffee-and-laptop-2.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
}

.my-row-cover-letters {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  background-color: white;
  padding-top:1rem;
  padding-bottom: 1rem;
}

.my-col-marina {
  width: inherit;
  margin-bottom: auto;
  font-family: "Raleway", sans-serif;
  color: #ff8c9b; /* #8d8d8a; */
  font-size: 2rem; /* 1.3rem; */
  text-align: center;
  max-height: fit-content;
  letter-spacing: 0.5rem;
}

.my-col-front {
  font-family: "Raleway", sans-serif;
  color: #8d8d8a;
  font-size: 1rem; /* .8rem; */
  text-align: center;
  max-height: fit-content;
  letter-spacing: 0.4rem;
  margin-bottom: auto;
  padding: .25rem;
}

.my-row-letters {
  flex-wrap: wrap;
}

.td-description-modal{
  padding-left: 1rem;
}
.my-row-cover-redes {
   position: absolute;
  bottom: 1rem; 
  display: flex;
  margin: 0px;
  padding: 0px;
  justify-content: center;
  width: 100%;
}

.icon-redes-cover {
  display: inline-block;
  text-align: center;
  padding: 0rem 1rem 0 1rem;
  cursor: pointer;
  color: #a1a19b;
}

.icon-redes-cover:hover {
  color: #ff8c9b;
}



@media screen and (min-width: 376px) {
  
  
 .my-row-cover-redes {
   position: absolute;
  bottom: 2rem; 
 }
 
 }
 @media screen and (min-width: 576px) {
 .my-cover-row {
  height: 100vh;
}


}