.modal-button {
  border-style: solid;
  background-color: transparent;
  border-color: #e5c7bd;
  color: gray;
  padding-left: 2rem;
  padding-right: 2rem;
  cursor: pointer;
  margin-top: 0.4rem;
}

.modal-button a {
  border-color: #ff8c9b;
}
.hover-modal:hover {
  border-color: #ff8c9b;
  color: #ff8c9b;
  text-decoration: none;
}

.after-modal:after {
  border-color: #ff8c9b;
}

div.div-img-project section div div div {
  width: 100%;
  display: flex;
  overflow: auto;
  justify-content: initial;
}

div.div-img-project section div div div div.modal-content {
  width: auto;
  border: 0;
}

.modal-content {
  min-width: -webkit-fill-available;
  justify-content: space-evenly;
  padding: 1rem;
}

.title-box {
  font-weight: bold;
  border: 0;
  font-size: 1.5rem; /*//////////////////////////*/
  background-color: #e5c7bd;
  padding: 0.5rem 0;
  margin: 0;
}

.cerrar-modal-btn {
  font-weight: bold;
  position: absolute;
  right: 1rem;
  top: 1rem;
  color: gray;
  cursor: pointer;
  margin: 0.5rem;
}

.info-box {
  align-items: baseline;
  text-align: left;
  font-size: 0.9rem; /*//////////////////////////*/
  font-weight: normal;
  letter-spacing: 0.1rem;
  padding-bottom: 0;
}

.table-and-icons-in-modal {
  margin: 1rem;
  display: flow-root;
  margin-bottom: 1.5rem;
}

.icon-a-modal {
  max-width: min-content;
  padding: 0;
  display: inline-block;
  text-align: center;
  cursor: pointer;
  color: #a1a19b;
}

.icon-a-modal:hover {
  color: #ff8c9b;
}

.redes-box {
  display: flex;
  align-items: center;
  padding-bottom: 0;
  border: none;
}

.my-table-row {
  border-bottom: solid 0.001em;
  border-color: #dddada;
}

.title-features {
  font-weight: bold;
  text-align: right;
}

.icon-at-modal-col {
  text-align: center;
}

/* control font size */
@media (min-width: 375px) {
  .title-box {
    font-size: 1.5rem;
  }
  .info-box {
    font-size: 1.1rem;
  }
}

/* control modal size */
@media (min-width: 600px) {
  div.div-img-project section div div div {
    width: 60%;
  }
}
@media (min-width: 800px) {
  div.div-img-project section div div div {
    width: 50%;
  }
}

@media (min-width: 1000px) {
  div.div-img-project section div div div {
    width: 40%;
  }
}
