.parallax {
  background-image: url("../img/imageq.jpg");
  height: 100%;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.quote-sec {
  margin: 1rem 0;
}
.helloP {
  margin: auto;
  font-family: "Playfair Display", serif;
  font-size: 1rem;
  margin-top: 1rem;
  text-align: center;
  margin-bottom: 0.5rem;
  font-style: italic;
  color: #746f6f;
  letter-spacing: 0.05rem;
}

.over-helloP {
  font-family: "Raleway", sans-serif;
  margin: 0;
  color: #ff8c9b;
  text-align: center;
}

.author {
  font-style: normal;
  margin-top: 0;
  margin-bottom: 2rem;
  font-size: smaller;
}

@media screen and (max-width: 1366px) {
  .parallax {
    background-image: url("../img/imageq-small.jpg");
  }
}

@media screen and (min-width: 768px) {
  .helloP {
    font-size: 1.2rem; /* 
      margin-left: 10rem;
      margin-right: 10rem; */
  }
  .author {
    font-size: 0.9rem;
  }
}

@media screen and (min-width: 1279px) {
  .helloP {
    font-size: 1.6rem; /* 
      margin-left: 10rem;
      margin-right: 10rem; */
  }
  .author {
    font-size: 1.1rem;
  }
}
