/*  .my-container {
      border: 5px solid green;
  }
  
  .my-row {
      border: 3px solid red;
  }
  
  .my-col {
      border: 3px dotted blue;
  }    */
 
/*overflow:auto*/

.my-flex {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0;
}

.row {
  margin:0!important;
}

.main {
  padding: 0px;
  background-color: white;
  overflow: hidden;
}

.my-row-about {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 5%;
  background-color: white;
}

.my-row-project {
  background-color:#f5f5f5;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 5%;
  padding-bottom: 5%;
  margin-left: 0;
  margin-right: 0;
}

.my-row-contact {
  /*background-image: url("../img/screen (19).jpg");
  background-blend-mode: screen; 
  background-repeat: no-repeat;
  background-size: cover;*/
  background-color: #333;
  color: antiquewhite;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 1vw;
  padding-top: 4vw;
  /*   padding-bottom: 5vw; */
}

@media screen and (max-width: 600px) {
  .my-row-contact {
    padding-bottom: 10vw;
  }
}

.my-row-stickyFooter {
  padding: 0;
}
